<form class="form-signin" action="" method="POST" autocomplete="on">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="user_id" class="sr-only">API User id</label>
        <input name="user_id" type="text" id="user_id" class="form-control" placeholder="API user id" required="" autofocus="">

				<label for="org_id" class="sr-only">vCloud Org id</label>
        <input name="org_id" type="text" id="org_id" class="form-control" placeholder="API org id" required="" autofocus="">

        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="vCloud Password" required="">
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
